.rt-ad-banner
  overflow: hidden;
  border-radius 8px
  background main-color005
  @media (max-width: mobile-upper-limit)
    background transparent
    height: auto
.rt-ad-banner__inner
  height: 100%
  position: relative;
  z-index 2
.rt-ad-banner__image-container
  position: absolute;
  top: -60px
  left: 0
  right: 0
  z-index 1
  @media (max-width: tablet-upper-limit)
    top: -56px
  @media (max-width: mobile-upper-limit)
    top: 0
    border-radius 8px
    overflow: hidden;
    height: 59vw;
    background-color: main-color005



.rt-ad-banner__image
  height: 301px
  width: 478px
  max-width 100%
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/ad_unit_component/Pattern.svg)
  background-size: contain;
  background-repeat:no-repeat
  @media (max-width: tablet-upper-limit)
    width: 347px;
    height: 246.35px;
  //
  @media (max-width: mobile-upper-limit)
    width: 140%;
    background-size: cover;
    //height: 122px

    height: 38vw;
    background-position: left bottom


.rt-ad-banner__mobile
  position: absolute;
  top: 0
  bottom: 3px
  height: 364px
  width: 181px
  left: 0
  right: 0
  margin-top: auto
  margin-bottom auto
  margin-left: auto;
  margin-right auto
  background-size: cover;
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/ad_unit_component/img%20mobile.png)
  @media (max-width: tablet-upper-limit)
    width: 157px;
    height: 315px;
  @media (max-width: mobile-upper-limit)
    height calc(59vw - 24px)
    width: 49vw
    margin-left: auto
    margin-right: auto
    position: relative
    background-size: auto;
    background-repeat: no-repeat
    background-size: 49vw 98.3vw;




