
.rt-n-banner
  overflow hidden
  position: relative;

  @media (min-width tablet-lower-limit)
    height 341px
  @media (min-width laptop-lower-limit)
    height: 422px

.rt-n-banner-wrapper
  border-radius 8px
  overflow: hidden;
  position: relative;
  max-width 100%
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    height: 100%
  @media (max-width tablet-upper-limit)
    border-radius 0;
  @media (max-width mobile-upper-limit)
    padding-top: 56vw
    padding-bottom: 24px
    box-sizing border-box
.rt-n-banner-inner
  min-width 100%
.rt-n-banner-header
  @media (max-width mobile-upper-limit)
    max-height 32px


.rt-n-banner-content
  position: relative;
  z-index 2
  max-width 100%
.rt-n-banner-inner-content
  @media (max-width mobile-upper-limit)
    min-width 100%
    min-height 100%
.rt-n-banner-item
  position: absolute;
  min-height 100%
  display: none
  left: 0
  right: 0
  animation-iteration-count: 1
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    height 100%
  &:after
    content:'';
    min-height:inherit;
    font-size:0;

  @media (max-width mobile-upper-limit)
    display: flex
    opacity: 0
    visibility: hidden

@keyframes BannergoFromLeft
  0%
    transform translateX(-100vw)
    opacity 1
    visibility visible
  100%
    transform translateX(0vw)
    opacity 1
    visibility visible

@keyframes BannergoFromRigth
  0%
    transform translateX(100vw)
    opacity 1
    visibility visible
  100%
    transform translateX(0vw)
    opacity 1
    visibility visible

.rt-n-banner-item--next-left
  display: flex
  animation-name BannergoFromLeft
  animation-duration 0.5s
  animation-timing-function ease-in-out

.rt-n-banner-item--next-right
  display: flex
  animation-name BannergoFromRigth
  animation-duration 0.5s
  animation-timing-function ease-in-out



.rt-n-banner-item--active
  transform translateX(0)
  display: flex
  transition-timing-function ease-in-out
  transition-duration 0.5s
  transition-property transform
  z-index 2
  @media (max-width mobile-upper-limit)
    opacity: 1
    visibility: visible;

.rt-n-banner-item--go-left
  display: flex
  transform translateX(-100vw)

.rt-n-banner-item--go-right
  display: flex
  transform translateX(100vw)

.rt-n-banner-image
  position: absolute;
  top: 0
  left: 0
  right: 0
  pointer-events none
  @media (min-width tablet-lower-limit)
    bottom: 0
  @media (min-width tablet-lower-limit) and (max-width tablet-upper-limit)
    &>.rt-col-td-3
      flex: 0 0 41.7%;
      max-width: 41.7%;
    &>.rt-col-td-3+.rt-col-td-3
        flex: 0 0 58.3%;
        max-width: 58.3%;
.rt-n-banner-image-container
  img
    object-fit cover
    object-position left center
    width: calc(100%  + 2px);
    min-height 422px
    max-height 422px
    font-family: 'object-fit: cover; object-position: left center;'
    @media (max-width tablet-upper-limit)
      min-height 341px
      max-height 341px
    @media (max-width mobile-upper-limit)
      min-height 56vw
      max-height 56vw

.rt-n-banner-description
  max-width 100%
  @media (max-width mobile-upper-limit)
    max-width: calc(100% - 20px)
.rt-n-banner-paginator
  z-index 4
  position: absolute;
  bottom: 29px
  left: 0
  right: 0

  @media (max-width tablet-upper-limit)
    bottom 18px
  @media (max-width mobile-upper-limit)
    pointer-events none
    position: relative;


.rt-n-banner-paginator-item
  width: 24px
  height: 24px
  padding-top: 3px
  padding-left: 3px
  padding-bottom: 3px
  padding-right: 3px
  position: relative;
  z-index 20
  pointer-events auto
  &:before
    content: ''
    display: block
    width: 10px
    height: 10px
    position: absolute;
    margin auto
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: #B0B2B7
    border-radius 50%
    transition-timing-function ease-in-out
    transition-duration .2s
    transition-property background-color
  @media (hover:hover)
    &:hover
      &:before
        background-color: b2c-orange

.rt-n-banner-paginator-item--active
  &:before
    background-color: b2c-orange
.rt-n-banner-paginator-oval
  stroke b2c-orange

.rt-n-banner-paginator-invert
  .rt-n-banner-paginator-oval
    stroke b2c-white
  .rt-n-banner-paginator-item
    &:before
      background-color: b2c-white07
    @media (hover:hover)
      &:hover
        &:before
          background-color: b2c-white
  .rt-n-banner-paginator-item--active
      &:before
        background-color: b2c-white

.rt-n-banner-paginator-round
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
  transform: rotate(275deg)

.rt-n-banner-paginator-line
  position: absolute;
  top: 56vw
  left: -10px
  right: -10px
  height: 2px
  background-color: rgba(16, 24, 40, .15)
.rt-n-banner-paginator-line-inner
  height: 2px
  background-color: b2c-orange
  .rt-n-banner-paginator-line-white &
    background-color: b2c-white

.rt-n-banner-paginator-container
  @media (max-width mobile-upper-limit)
    position static
.rt-n-banner-paginator-inner
  display: flex
  align-self flex-end
  position: absolute;
  bottom: 24px
  right: 10px
.rt-n-banner-paginator-button
  width: 36px
  height: 36px
  border-radius 50%
  background-color: b2c-white
  display: flex
  align-items center
  justify-content center
  cursor: pointer;
  user-select none
  touch-callout: none
  outline: none
  -webkit-tap-highlight-color: transparent
  pointer-events all
  &+&
    margin-left: 12px

.rt-n-banner-gradient
  width: 25%
  position: absolute;
  left: 0

  height: 100%
  @media (max-width tablet-upper-limit)
    width: 30%

renderColorClass(classname, var, media)
  .{classname}
    .rt-n-banner-gradient
      background-image: linear-gradient(to left, rgba(lookup(var),0) 0%, rgba(lookup(var),1) 40%)

    .rt-n-banner-image-container
      img
        @media (min-width tablet-lower-limit)
          -webkit-mask-image: linear-gradient(to left , lookup(var) 0%, lookup(var) 75%, transparent 100%)
          mask-image: linear-gradient(to left , lookup(var) 0%, lookup(var) 75%, transparent 100%)


for $i in colors
  if search($i,'b2c') >= 0
    className = 'color-block--'+replace($i,'b2c-','')
    renderColorClass(className, $i, $type)


.rt-n-banner-item-url
  cursor: pointer;
  pointer-events: auto
  position: absolute;
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index 10
