
.rt-n-banner
  border-radius 8px
  height: 422px
  overflow hidden
.rt-n-banner-content
  position: relative;
  z-index 2
.rt-n-banner-item
  position: relative;
  min-height 100%
.rt-n-banner-image
  position: absolute;
  top: 0
  left: 0
  right: 0
  bottom: 0
.rt-n-banner-image-container
  img
    object-fit contain
    object-position right center
    width: 100%;
    max-height 422px
    font-family: 'object-fit: contain; object-position: right center;'

