//use("../../atoms/plugins/readJsonKeys.js")
///Users/cryingjoker/rostel/ui-kit/vue-rt-style-kit-molecules/src/css/components/cardRounded.styl
///Users/cryingjoker/rostel/ui-kit/vue-rt-style-kit-molecules/src/atoms
use("./plugins/readJsonKeys.js")
use("./plugins/search.js")
use("./plugins/replace.js")
.rt-card-round
  border-radius 19px
  display block

.rt-card-round-img
  width 100%
  display block

.rt-card-round-img-container
  overflow: hidden;
  border-radius: 12px
  transition-timing-function ease-in-out
  transition-duration .3s
  transition-property opacity

.rt-card-round__logo
  width 137px
  height 44px

.rt-card-round__content
  border-radius 0 0 12px 12px
  position relative
  z-index 2
  &:before
    content ''
    position absolute
    border-radius  12px 12px 0 0
    top -20px
    height 20px
    left: 0
    right: 0
    z-index 2

.rt-card-round-white
  border-radius 0 0 12px 12px
  background-color #fff

.rt-card-round-color
  border: 8px solid white
  .rt-card-round__logo
    width 137px
    border-radius 12px
    background-color #fff
    padding-top 7px
    padding-bottom 7px
    text-align center
  .rt-card-round-img-container
    border-radius 12px 12px 0 0
  @media(hover: hover)
    &:hover
      .rt-card-round-img-container
        opacity 0.7

//@media(hover: hover)
.rt-card-round-arrow__text
  max-width 0
  overflow hidden
  display inline-block
  white-space nowrap
  transition-timing-function linear
  transition-duration 0.5s
  transition-property max-width, margin, opacity, color
  margin-right 0
  opacity 0
.rt-card-round:hover
  .rt-card-round-arrow__text
    opacity 1
    max-width 15vw
    margin-right 16px
    @media (max-width laptop-upper-limit)
      max-width 35vw

.rt-card-round-color--white .rt-card-round__logo
  width auto
  background-color transparent
  padding-top 0
  padding-bottom 0
  text-align left
  height 36px

.rt-card-round-arrow-icon
  height 100%
  path
    transition fill .3s linear

.rt-card-round__logo-img
  max-height 100%

colors = readJsonKeys('../../../color.json')
renderColorClass(postfix,color)
  classname = 'rt-card-round-color--'+postfix
  .{classname}
    box-shadow 0 0 0 1px lookup(color)
    border-radius: 19px;

  .{classname} .rt-card-round__content,
  .{classname} .rt-card-round__content:before {
    color: white;
    background-color lookup(color)
  }

for $i in colors
  if search($i,'b2c') >= 0
    className = replace($i,'b2c-','')
    renderColorClass(className, $i, $type)

.rt-card-preview
  //border 2px solid b2c-gray
  border-radius 8px
  position relative
  .rt-card-round__content
    border-radius 8px
    &:before
      display none
  &:hover
    .rt-card-round-arrow__text
      color b2c-orange
      margin-right 8px
    .rt-card-round-arrow-icon
      path
        fill b2c-orange
  .rt-card-round-img-container
    padding 20px 20px 12px
    border-radius 0
    display block
    .rt-card-round-img
      height 100%
  .rt-card-round-white
    border-radius 8px
    border 2px solid b2c-gray
  .rt-card-round__logo
    height 28px
    max-width 160px
    box-sizing content-box
    display flex
    align-items center
  .rt-card-preview__badge
    position absolute
    top 0
    right 0
    width 127px
    height 84px
    z-index 1
    &-text
      position absolute
      color b2c-white
      top 24px
      right 12px
  &--icon
    .rt-card-round-white,
    .rt-card-round-color
      display flex
      flex-direction row
      border-radius 8px
      @media (max-width tablet-upper-limit)
        flex-direction column
      .rt-card-round-icon-container
        padding 32px 0 0 20px
        size(56px)
        box-sizing content-box
        flex-shrink 0
        svg
          size(100%)
  .rt-card-round-color
    border none
    border-radius 8px
    &--main-color003
      background-color main-color003
    &:hover
      .rt-card-round-img-container
        opacity 1
