.rt-carousel-v3
  position relative
  max-width: 100%
  width: calc(100vw - 8px)
  width  calc(100vw - var(--scrollbarWidth))
  overflow-x hidden

.rt-carousel-v3--scroll
  display: flex
  flex-wrap nowrap
  padding: 0
  transition-timing-function ease-in-out
  transition-duration 0.5s
  transition-property  margin-left
  margin-left: 0px
  margin-right: 0px
  @media(max-width tablet-upper-limit)
    max-width initial
    flex 1
    flex-wrap nowrap
    width: calc(((100vw - 20px) / 6 * 5 - 7px) / 2 * 3)
  @media(max-width mobile-upper-limit)
    width: calc(80vw * 3 )

  &.rt-carousel-v3--scroll--remove-transform
    transition-property  transform, margin-left
  &>.row
    margin-left: 10px
    margin-right: 10px

    @media(max-width tablet-upper-limit)
      width: auto
      flex-wrap nowrap
      margin-left: 0
      margin-right: 0
      //min-width fit-content
    &>.rt-col-td-3
      @media(max-width tablet-upper-limit)
        width: calc(((100vw - 20px) / 6 * 5 - 7px) / 2)
        max-width: calc(((100vw - 20px) / 6 * 5 - 7px) / 2)
        padding-right: 0
        padding-left: 20px
      @media(max-width mobile-upper-limit)
        width: calc(80vw + 10px)
        max-width: 80vw

.rt-carousel-v3-wrap
  overflow: hidden;
  margin-right: 10px
  margin-left: 10 px
  @media(max-width tablet-upper-limit)
    margin-left: 0px
    margin-right: 0px

.rt-carousel-v3-arrows
  position: absolute;
  top: 0
  bottom: 0
  left: 0
  right: 0
  pointer-events none
  display: flex
  align-items center
  justify-content space-between
  padding-left: 15px
  padding-right: 15px
  z-index 15
  @media (max-width tablet-upper-limit)
    padding-left: 0
    padding-right: 0
  @media (min-width: 1280px)
    padding-left: 55px;
    padding-right: 55px;




.rt-carousel-v3-arrow
  width: 52px
  height: 52px
  border-radius 50%
  background-color: b2c-white
  box-shadow 0px 0px 8px rgba(0, 0, 0, 0.25);
  display: flex
  align-items center
  justify-content center
  pointer-events auto
  cursor: pointer
  transition-timing-function ease-in-out
  transition-duration 0.2s
  transition-property  box-shadow

  @media (max-width tablet-upper-limit)
    width: 10vw
    min-width: 10vw
    min-height: 100%
    box-shadow none
    border-radius 0
    background-color: rgba(255,0,0,0)
    .rt-sys-icon
      display: none
  @media (max-width mobile-upper-limit)
    width: 15vw
    min-width: 15vw

  @media (max-width 320px)
    width: 235px
    min-width: 235px
  @media (hover:hover)
    &:hover
      box-shadow 0px 0px 8px rgba(0, 0, 0, 0.5);
      @media (max-width tablet-upper-limit)
        box-shadow none
.rt-carousel-v3-arrow-left
  padding-right: 3px
.rt-carousel-v3-arrow-right
  padding-left: 3px
.rt-carousel-v3-shadows-wrapper
  position: absolute;
  left: 0
  right: 0
  pointer-events none
  top: 0
  bottom: 0
  z-index 10
  display: flex
  @media (min-width 1600px)
    padding-left: 55px
    padding-right: 55px
  @media (min-width 1280px)
    padding-left: 60px
    padding-right: 60px
  padding-left: 30px
  padding-right: 30px
  .rt-shadow-has-pseudo
    &:before
      content ''
      position: absolute;
      top: 0
      bottom: 0
      width: 26px
      display: block
    &.rt-shadow-left
      &:before
        left -26px
        z-index: 10
    &.rt-shadow-right
      &:before
        right: -26px
        z-index: 10

.rt-carousel-v3-shadows
  //margin-left: 10px
  //margin-right: 10px

  position: relative;
  left: 0
  right: 0
  flex 1
  overflow: hidden;
  padding-left:20px
  padding-right:20px
  @media(max-width tablet-upper-limit)
    display: none
  .rt-shadow
    position: absolute;
    top: 0
    bottom: 0
    width: 60px
    transition-timing-function ease-in-out
    transition-duration 0.5s
    transition-property  margin

  .rt-shadow-left
    left: 26px
    margin-left: -40px
  .rt-shadow-right
    right: 26px
    margin-right: -40px
.rt-carousel-slide-v3
  transition-timing-function ease-in-out
  transition-duration 0.5s
  transition-property  opacity
  &:first-child
    margin-left: -10px
    .rt-carousel-v3--static &
      margin-left: 0
.rt-carousel-slide-v3--not-act
  opacity: 0.3
.rt-carousel-v3--static
  margin-left: -20px
  margin-right: 0
.rt-carousel-slide-v3--td-not-act
  @media(max-width tablet-upper-limit)
    opacity: 0.3
.rt-carousel-slide-v3--md-not-act
  @media(max-width mobile-upper-limit)
    opacity: 0.3
.rt-carousel-slide-item-3
  padding-left: 10px
  padding-right: 10px
  @media (min-width 1600px)
    width 1440px*0.3
    min-width 1440px*0.3
  @media (max-width 1599px)
    width: calc(30vw - 48px)
    min-width: calc(30vw - 48px)
    width: calc((100vw - var(--scrollbarWidth) - 160px)  * 0.3 )
    min-width: calc((100vw - var(--scrollbarWidth) - 160px)  * 0.3 )

  @media (max-width tablet-upper-limit)
    width: 40vw
    min-width: 40vw

  @media (max-width mobile-upper-limit)
    width: 75vw
    min-width: 75vw
  @media (max-width 360px)
    width: 255px
    min-width: 255px
.rt-carousel-slide-item-4
  padding-left: 10px
  padding-right: 10px
  @media (min-width 1600px)
    width 331px
    min-width 331px
  @media (max-width 1599px)
    width: calc((23vw - 36.8px))
    min-width: calc(23vw - 36.8px)
    width: calc((100vw - var(--scrollbarWidth) - 160px)  * 0.23 )
    min-width: calc((100vw - var(--scrollbarWidth) - 160px)  * 0.23 )
  @media (max-width 1280px)
    width: calc((23vw - 18.4px))
    min-width: calc(23vw - 18.4px)
    width: calc((100vw - var(--scrollbarWidth) - 80px)  * 0.23 )
    min-width: calc((100vw - var(--scrollbarWidth) - 80px)  * 0.23 )
  @media (max-width tablet-upper-limit)
    width: 40vw
    min-width: 40vw
  @media (max-width mobile-upper-limit)
    width: 75vw
    min-width: 75vw
  @media (max-width 360px)
    width: 255px
    min-width: 255px
