.function-list
  font-size: 16px
  font-weight: 300
  &__item
    display flex
    flex-wrap nowrap
    padding-top 12px
    padding-bottom 12px
    &-icon
      min-width 40px
      display flex
      flex-wrap nowrap
      align-items center
    &-left
      display flex
      flex-wrap nowrap
      align-items center
    &-right
      padding-left: 15px
      max-width: 350px
      align-self: center
    &-header
      font-size: 18px
      font-weight: 400
