@require "elementStyle"
@require "placeholder"
@require "scrollTabNavigation"
@require "tabs"
@require "tabsV2"
@require "tabsSlider"
@require "microtabs"
@require "banners"
@require "bannersV2"
@require "carousel"
@require "phone"
@require "cards"
@require "cardRounded"
@require "card-skeleton"
@require "cards-b2o"
@require "tariffCard"
@require "fullscreenImage"
@require "rowList"
@require "images"
@require "table"
@require "download-content"
@require "inlineDropdown"
@require "tag"
@require "sticky"
@require "youtube"
@require "slideContent"
@require "layerLevel"
@require "halfColorBlock"
@require "landings/index"
@require "popover"
@require "popup"
@require "logo"
@require "b2bCard"
@require "b2bBanner"
@require "/combined-components/test-access"
@require "swiper"
@require "navigation"
@require "pattern"
@require "/combined-components/opportunity"
@require "expander"
@require "real-popup"
@require "productCard"
@require "validationIcon"
@require "hint"
@require "benefit"
@require "svgFill"
@require "gallary-carousel"
@require "optionsList"
@require "custom-carousel"
@require "game/arrow"
@require "countdown-timer"
@require "stickyBottomLine"
@require "stickyHeaderLine"
@require "header-advertisement-block"
@require "header-navigation"
@require "slider"
@require "text-image-block"
@require "tooltip"
@require "helpBlock"
@require "phone-number-input"
@require "jumbotron"
@require "carouselV2"
@require "carouselV3"
@require "banner-skeleton"
@require "adBanner"
@require "previewBanner"
@require "arrowBlock"
@require "message-box"
@require "commentSlider"

@require "card-help"
@require "card-banner"
