cmp = '.rt-microtabs'
microtabsTriangleSize = 6px
microtabsDefBg = #eeeff0
microtabsDefBgHover = #e7e8e9
microtabsPurpleBg = #f1e5ff
microtabsPurpleBgHover = #ebd9ff
microtabsPurpleColor = #7700ff
microtabsOrangeBg = #ffede7
microtabsOrangeBgHover = #ffe5db
microtabsOrangeColor = #ff4f12

{cmp}
  position relative
  overflow hidden

  &-nav,
  &-cnt
    display flex

  &-nav
    & > a
      cursor pointer
      font-size 12px
      line-height 24px
      display flex
      align-items center
      flex 0 0 auto
      margin-right 8px
      position relative
      user-select none
      transform scale(1)
      transition transform .3s ease-in
      z-index 2
      &.is--active
        cursor default
      &.is--hidden
        color transparent !important
        position absolute
        transform scale(0)
        z-index 1
    &__control
      padding 0 4px
    &__item
      padding 0 8px
      &-tgl
        color microtabsDefBg
        border-top microtabsTriangleSize solid
        border-right microtabsTriangleSize solid transparent
        border-left microtabsTriangleSize solid transparent
        margin auto
        position absolute
        width 0
        height 0
        left 0
        right 0
        bottom -(microtabsTriangleSize)
        transition transform .3s ease-in .1s, color .3s ease-in
        z-index -2
      // Background
      &-bg
        content: ''
        background microtabsDefBg
        border-radius 16px
        position absolute
        width 100%
        height 100%
        left 0
        top 0
        transition background .3s ease-in
        z-index -1

  &-cnt
    padding-top 18px
    transition transform .3s ease-in
    &__item
      flex: 0 0 100%;
      max-width 100%
      opacity 1
      transition opacity .3s ease-in
      &.is--hidden
        transition opacity .3s ease-out
        opacity 0

  // Обработка состояний
  &.is--conveer
    {cmp}-nav__item
      cursor default
      &-tgl
        display none
  &.is--direction
    &-right
      {cmp}-nav__item:not(.is--active) {cmp}-nav__item-tgl
        transform translate3d(100%, -100%, 0)
    &-left
      {cmp}-nav__item:not(.is--active) {cmp}-nav__item-tgl
        transform translate3d(-100%, -100%, 0)
  {cmp}-nav__item
    &.is--theme-flat
      {cmp}-nav__item-bg
        display none
    &.is--theme-purple
      color microtabsPurpleColor
      {cmp}-nav__item
        &-bg
          background microtabsPurpleBg
        &-tgl
          color microtabsPurpleBg
    &.is--theme-orange
      color microtabsOrangeColor
      {cmp}-nav__item
        &-bg
          background microtabsOrangeBg
        &-tgl
          color microtabsOrangeBg

@media (hover: hover)
  {cmp}.is--tabs
    {cmp}-nav > a:not(.is--active):hover
      {cmp}-nav__item
        &-bg
          background microtabsDefBgHover
        &-tgl
          color microtabsDefBgHover
      &.is--theme-purple
        {cmp}-nav__item
          &-bg
            background microtabsPurpleBgHover
          &-tgl
            color microtabsPurpleBgHover
      &.is--theme-orange
        {cmp}-nav__item
          &-bg
            background microtabsOrangeBgHover
          &-tgl
            color microtabsOrangeBgHover  
