.{newAppName}-phone-input
  font-size 18px
  line-height 28px
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  @media (max-width tablet-upper-limit)
    display block
  &__single-one
    border 2px solid main-color01
    border-radius 4px
    margin-left 4px
    size(32px 52px)
    box-sizing border-box
    padding 12px 0
    text-align center
    outline none
    cursor pointer
    &:hover
      border-color main-color02
    &:focus
      border-color b2c-purple
    &:disabled
      border-color main-color01
    &:nth-last-child(2),
    &:nth-last-child(4),
    &:nth-last-child(7)
      margin-left 8px
      @media (max-width tablet-upper-limit)
        margin-left 12px
  .select
    width auto
    height auto
    margin-left 12px
    margin-right 8px
    padding 10px 12px
    border-radius 4px
    border 2px solid main-color01
    min-width 86px
    @media (max-width tablet-upper-limit)
      display inline-block
    &:hover
      border-color main-color02
    &--is-open
      border-color b2c-purple!important
    &-arrow
      top -3px
      &__icon
        transform translateY(-120%)
    &-list
      left 0
      bottom -4px
      transform translateY(100%)
      border-radius 4px
    &-input,
    &-option__inner
      font-size 18px
      line-height 28px
    &-value
      padding 0
      margin 0
  .text-field__line
    display none
  .select-option__inner:focus,
  .select-option__inner:hover
    color b2c-purple
    background-color b2c-white
  .select-option--select
    .select-option__inner
      font-weight inherit
  .inputs-wrapper
    margin-right 24px
    @media (max-width desktop-lower-limit)
      margin-right 0
    @media (max-width tablet-upper-limit)
      display inline-block
  &__buttons-wrapper
    display inline-block
    @media (max-width desktop-lower-limit)
      display block
      margin-top 24px
  &__prefix
    @media (max-width tablet-upper-limit)
      display inline-block
    &--separated
      display block
      &+.select
        margin-left 0
        margin-top 8px

.single-code
  margin-left 4px
  @media (max-width tablet-upper-limit)
    display inline-block
  @media (max-width mobile-upper-limit)
    &+.inputs-wrapper
      display block
      margin-top 8px
      .rt-phone-input__single-one:first-child
        margin-left 0!important

