.{newAppName}-phone-input
  font-size 18px
  line-height 28px
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  @media (max-width desktop-lower-limit)
    display block
  &__single-one
    border 2px solid main-color01
    border-radius 4px
    margin-left 4px
    width 32px
    height 52px
    box-sizing border-box
    padding 12px 0
    text-align center
    outline none
    cursor pointer
    &:hover
      border-color main-color02
    &:focus
      border-color b2c-purple
    &:disabled
      border-color main-color01
      color main-color03
      background-color b2c-gray
    &:nth-last-child(2),
    &:nth-last-child(4),
    &:nth-last-child(7)
      margin-left 8px
      @media (max-width tablet-upper-limit)
        margin-left 12px
    @media (max-width mobile-upper-limit)
      &:first-child
        margin-left 0
    &::-webkit-input-placeholder
      color main-color03
  .inputs-wrapper
    display flex
    margin-right 24px
    @media (max-width desktop-lower-limit)
      margin-right 0
      display inline-block
    @media (max-width tablet-upper-limit)
      display inline-block
    @media (max-width mobile-upper-limit)
      margin-top 20px
  &__buttons-wrapper
    display inline-block
    @media (max-width desktop-lower-limit)
      display block
      margin-top 24px
  &__prefix
    //@media (max-width tablet-upper-limit)
    display inline-block
    &--separated
      display block
      &+.select
        margin-left 0
        margin-top 8px
  .rt-button + .rt-button
    @media (max-width mobile-upper-limit)
      margin-left 0
      margin-top 24px
  &__select
    min-width 86px
    padding 10px 12px
    border 2px solid main-color01
    border-radius 4px
    cursor pointer
    margin-left 12px
    margin-right 8px
    font-size 18px
    line-height 28px
    position relative
    overflow hidden
    vertical-align middle
    @media (max-width desktop-lower-limit)
      display inline-block
    &:hover
      border-color main-color02
    &:after
      position absolute
      content ''
      top 50%
      right 10px
      transform translateY(-50%)
      size(11px, 6px)
      background-image url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDE0IDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNi40NjkxOCA2LjUzMzkzTDAuOTk3MTkyIDEuMDYwODZMMi4wNTc5NiAwLjAwMDMwNTE3Nkw2Ljk5OTU3IDQuOTQyODlMMTEuOTQxMiAwLjAwMDMwNTI5NEwxMy4wMDE5IDEuMDYwODZMNy41Mjk5NSA2LjUzMzkzQzcuMzg5MjkgNi42NzQ2MSA3LjE5ODUgNi43NTM2NSA2Ljk5OTU3IDYuNzUzNjVDNi44MDA2MyA2Ljc1MzY1IDYuNjA5ODQgNi42NzQ2MSA2LjQ2OTE4IDYuNTMzOTNaIiBmaWxsPSIjMTAxODI4Ii8+Cjwvc3ZnPg==")
      background-size contain
      transition transform .2s linear
    &--active
      border-color b2c-purple
      overflow inherit
      .rt-phone-input__select-items-wrapper
        height auto
        max-height 300px
      &:after
        transform translateY(-50%) rotate(-180deg)
  &__select-items-wrapper
    height 0
    max-height 0
    overflow hidden
    position absolute
    box-shadow 0 36px 36px rgba(16, 24, 40, 0.1)
    background-color b2c-white
    width 100%
    top calc(100% + 2px)
    left 0
    right 0
    transition max-height .2s linear
    z-index 2

  &__select-item
    padding 6px 12px
    //margin-top 10px
    &:last-child
      margin-bottom 10px
    &:first-child
      margin-top 10px
    &:hover,
    &--selected
      color b2c-purple

.single-code
  margin-left 4px
  @media (max-width desktop-lower-limit)
    display inline-block
  @media (max-width mobile-upper-limit)
    &+.inputs-wrapper
      display block
      margin-top 8px
      .rt-phone-input__single-one:first-child
        margin-left 0!important

