.rt-preview-banner
  border-radius 8px
  overflow: hidden
  .rt-img
    max-width 100%
.rt-preview-banner__image
  min-height 100%
.rt-container__body
  @media (min-width laptop-lower-limit)
    min-height 328px
.rt-preview-banner__date
  color main-color05
  .rt-sys-icon
    fill main-color05
