.rt-sticky-header-line
  position: fixed;
  left: 0;
  right: 0;
  top: -100vh;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 0 0 5px 0 rgba(16,24,40,0.2);
  z-index 2


  @media (max-width: mobile-upper-limit)
    padding-top: 10px
    padding-bottom: 10px

.rt-sticky-header-line--is-invisible
  margin-top -100vh
  top: 0
  height: 0
  overflow: visible;
  padding: 0
  margin-top: 0px
  left: inherit
  right: inherit
  width auto
.rt-sticky-header-line__right-content
  position: relative;
  left: -100%
  
.rt-sticky-header-line--switched-content+.rt-sticky-header-line--switched-content
  display: none
.rt-sticky-header-line--switched-content-is-active
  .rt-sticky-header-line--switched-content
    display: none
  .rt-sticky-header-line--switched-content+.rt-sticky-header-line--switched-content
    display: block
