
//.rt-tabs-v2-navigation-wrapper
//  height:
.rt-tabs-v2-navigation-wrapper
  max-height 70px
  overflow: hidden;
  position: relative;
  @media (max-width tablet-upper-limit)
    margin-left: -20px
    margin-right: -20px
    width: calc(100% + 40px)
.rt-tabs-v2-navigation
  display inline-flex
  flex-direction row
  min-width 100%
  flex-wrap nowrap


.rt-tabs-v2-navigation
  position relative
  @media (max-width tablet-upper-limit)
    padding-left: 20px
    padding-right: 20px
  &:before
    content ''
    bottom: 0
    left: 0
    width: 100%
    position: absolute;
    background-color: main-color01-no-opacity
    height: 2px
    right: 0

.rt-tabs-nav-v2_item
  position: relative;

  &:before
    content ''
    position: absolute;
    bottom: 0
    left: 0
    right: 0
    height: 2px
    background-color: transparent

  & + .rt-tabs-nav-v2_item
    padding-left: 48px

.rt-tabs-nav-v2_item-name
  position: relative
  cursor: pointer
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property opacity, color
  @media (hover: hover)
    &:hover
      color b2c-orange
      .rt-sys-icon
        fill b2c-orange
      .rt-tabs--bright &,
      .rt-dark-theme &
        color b2c-orange
        .rt-sys-icon
          fill b2c-orange



  &:before
    content ''
    position: absolute;
    left: 0
    width: 100%
    right: 0
    height: 2px
    bottom: 0
    background-color: transparent
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration 0.25s
    transition-property background
.rt-tabs-v2-navigation-scoller
  padding-bottom: 20px
  overflow: auto;
  white-space nowrap
.rt-tabs-nav-v2_item--active
  .rt-tabs-nav-v2_item-name
    color b2c-orange
    .rt-sys-icon
      fill b2c-orange
    .rt-tabs--bright &,
    .rt-dark-theme &
      color b2c-orange
      .rt-sys-icon
        fill b2c-orange
.rt-tabs--background
  .rt-tabs-v2-navigation:before
    display: none
  .rt-tabs-v2-navigation-scoller
    padding-left: 24px
    padding-right: 24px
  @media (max-width tablet-upper-limit)
    .rt-tabs-v2-navigation-wrapper
      margin-left: -20px
      margin-right: -20px
      width: calc(100% + 40px)
.rt-tabs--background-gray
  .rt-tabs-v2-navigation-shadow-left
    background-image: linear-gradient(to left, rgba(b2c-gray,0) 0%, b2c-gray 100%)
    .rt-tabs--bright &,
    .rt-dark-theme &
      background-image: linear-gradient(to left, rgba(b2c-dark-slate,0) 0%, b2c-dark-slate 100%)
  .rt-tabs-v2-navigation-shadow-right
    background-image: linear-gradient(to right , rgba(b2c-gray,0) 0%, b2c-gray 100%)
    .rt-tabs--bright &,
    .rt-dark-theme &
      background-image: linear-gradient(to right , rgba(b2c-dark-slate,0) 0%, b2c-dark-slate 100%)
  .rt-tabs-v2-navigation-scoller
    background-color: b2c-gray
    .rt-tabs--bright &,
    .rt-dark-theme &
      background-color: b2c-dark-slate
.rt-tabs--background-white
  .rt-tabs-v2-navigation-shadow-left
    background-image: linear-gradient(to left, rgba(white,0) 0%, white 100%)
    .rt-tabs--bright &,
    .rt-dark-theme &
      background-image: linear-gradient(to left, rgba(main-color,0) 0%, main-color 100%)
  .rt-tabs-v2-navigation-shadow-right
    background-image: linear-gradient(to right , rgba(white,0) 0%, white 100%)
    .rt-tabs--bright &,
    .rt-dark-theme &
      background-image: linear-gradient(to right , rgba(main-color,0) 0%, main-color 100%)
  .rt-tabs-v2-navigation-scoller
    background-color: white
    .rt-tabs--bright &,
    .rt-dark-theme &
      background-color: main-color



.rt-tabs-nav-v2_item-name
  height: 64px
  display: flex
  align-items center
  justify-content center
  white-space nowrap
  font-size 16px
  .rt-tabs--bright &,
  .rt-dark-theme &
    color white
    .rt-sys-icon
      fill white


.rt-tabs--small
  .rt-tabs-nav-v2_item + .rt-tabs-nav-v2_item
    padding-left: 24px
  .rt-tabs-v2-navigation-wrapper
    max-height 50px
  .rt-tabs-nav-v2_item-name
    font-size 14px
    height: 44px

.rt-tabs-navigation_line
  position: absolute
  bottom: 0
  height: 2px
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.4s
  transition-property background, left, width
  width: 100px
  left: 0
  background-color: b2c-orange

.rt-tabs-v2-navigation-shadow-left
  position: absolute;
  top: 0
  bottom: 0
  left: 0
  width: 50px
  background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
  z-index 2
  animation-name showShadow
  animation-duration 1s
  animation-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  .rt-tabs--bright &,
  .rt-dark-theme &
    background-image: linear-gradient(to left, rgba(main-color,0) 0%, main-color 100%)

.rt-tabs-v2-navigation-shadow-right
  position: absolute;
  top: 0
  bottom: 0
  right: 0
  width: 50px
  background-image: linear-gradient(to right , rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
  z-index 2
  animation-name showShadow
  animation-duration 0.5s
  animation-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  .rt-tabs--bright &,
  .rt-dark-theme &
    background-image: linear-gradient(to right, rgba(main-color,0) 0%, main-color 100%)

@keyframes showShadow
  0%
    width 0
    opacity 0
  100%
    width 50px
    opacity 1
