.tab-slider__header
  display: flex
  flex-wrap wrap
  scroll-behavior: smooth;
  @media (max-width: tablet-upper-limit)
    //display: block
    overflow: auto;
    width: calc(100% + 40px)
    flex-wrap nowrap
    flex-shrink: 0
    position: relative;
    left: -20px
    right: -20px
    padding-left: 20px
    padding-right: 20px
    justify-content: space-between;
    &:after
      content ' '
      min-width: 20px
      height: 10px
      background-color: transparent
      display: block
.tab-slider__header-item
  margin-right: 16px
  margin-bottom: 16px
  border-radius 32px
  background-color main-color005
  cursor: pointer;
  transition-timing-function ease-in-out
  transition-duration .3s
  transition-property background, color
  position: relative;
  overflow: hidden
  white-space nowrap


  &:last-child
    margin-right: 0
  @media (max-width: tablet-upper-limit)
    flex-shrink: 0
  @media (hover: hover)
    &:hover
      background-color b2c-purple
      color white

.tab-slider__header-item--active
  cursor: default;
  background-color b2c-purple
  color white


.tab-slider__timer
  position: absolute;
  border-radius 32px
  width: 32px
  height: 100%
  left: -60px
  right: 0
  padding-right: 60px
  box-sizing content-box
  top: 0
  bottom: 0
  background-color: b2c-purple-button-active

.tab-slider__header-text
  position: relative;
  z-index 2

.tab-slider__img,
  & img
    max-width 100%
  & img
    display: block

.tab-slider__item
  .row-td-reverse
    @media (max-width: tablet-upper-limit)
      justify-content flex-end

@keyframes ShowNextTab
  0%
    opacity: 0
  100%
    opacity 1
@keyframes HideActiveTab
  0%
    opacity: 0
  1%
    opacity: 1


  100%
    opacity 0

.tab-slider__item--hide
  opacity: 1
  animation-name HideActiveTab
  animation-duration 0.5s
  animation-timing-function ease-in-out

.tab-slider__content
  position: relative;
  overflow: hidden;

.tab-slider__item--next-active
  opacity: 0
  position: absolute;
  z-index 10
  left: 0
  right: 0
  top: 0
  animation-name ShowNextTab
  animation-duration 0.5s
  animation-timing-function ease-in-out
