.rt-tag
  .{newAppName}-dark-theme &
    background-color b2c-white01
.{newAppName}-tag-list
  &--color-purple
    .{newAppName}-tag--is-active,
      .rt-dark-theme &, &
        background b2c-purple

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-purple

  &--color-purple-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-purple-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-purple-low

  &--color-purple-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-purple-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-purple-high

  &--color-red
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-red

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-red

  &--color-red-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-red-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-red-low

  &--color-red-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-red-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-red-high

  &--color-dark-blue
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-dark-blue

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-dark-blue

  &--color-dark-blue-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-dark-blue-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-dark-blue-low

  &--color-dark-blue-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-dark-blue-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-dark-blue-high

  &--color-light-blue
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-light-blue
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-light-blue

  &--color-light-blue-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-light-blue-low
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-light-blue-low

  &--color-light-blue-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-light-blue-high
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-light-blue-high

  &--color-yellow
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-yellow
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-yellow

  &--color-yellow-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-yellow-low
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-yellow-low

  &--color-yellow-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-yellow-high
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-yellow-high

  &--color-orange
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-orange
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-orange

  &--color-orange-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-orange-low
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-orange-low

  &--color-orange-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-orange-high
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-orange-high

  &--color-pink
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-pink
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-pink

  &--color-pink-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-pink-low
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-pink-low

  &--color-pink-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-pink-high
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-pink-high

  &--color-green
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-green
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-green

  &--color-green-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-green-low
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-green-low

  &--color-green-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-green-high
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background b2c-green-high

  &--color-black
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background main-color
    @media(hover: hover)
      .{newAppName}-tag:hover
        .rt-dark-theme &, &
          background main-color

.{newAppName}-tag,
.rt-tabs--tag-mode .rt-tabs-navigation__item .rt-tabs-navigation__item-name
  font-size 14px
  background-color main-color003
  border-radius 25px
  margin-top 10px
  margin-bottom 10px
  margin-left 10px
  margin-right 10px
  padding-top 6px
  padding-bottom 4px
  padding-left 15px
  padding-right 15px
  cursor pointer
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property background-color, color

  .{newAppName}-dark-theme &
    color b2c-white

  &:hover,
  &--is-active
    //.{newAppName}-dark-theme &
    //  color b2c-white
    //  background-color b2c-purple

    color b2c-white
    background-color b2c-purple
    .{newAppName}-dark-theme &
      color b2c-white
      background-color b2c-orange

.rt-tabs--tag-mode .rt-tabs-navigation__item--is-active .rt-tabs-navigation__item-name
  .{newAppName}-dark-theme &
    color b2c-white
    background-color b2c-orange

  color b2c-white
  background-color b2c-purple
.rt-tabs--tag-mode .rt-tabs-navigation__item .rt-tabs-navigation__item-name
  margin-left: 0
.rt-tabs--tag-mode .rt-tabs-navigation
  &:after
    display: none
.rt-tabs--tag-mode .rt-tabs-navigation__item+.rt-tabs-navigation__item
  margin-left: 0px
.rt-tabs--tag-mode .rt-tabs-navigation__item .rt-tabs-navigation__item-name
  &:before
    display: none!important

.rt-tag-n-wrapper
  display flex
  flex-wrap nowrap
  overflow: auto;

.rt-tag-n
  padding-top: 8px
  padding-bottom: 8px
  padding-left: 32px
  padding-right: 32px
  border 1px solid disable-button-color
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property border, color
  display: inline-block
  border-radius 40px
  cursor: pointer;
  white-space nowrap
  &+.rt-tag-n
    margin-left: 12px

  @media(hover: hover)
    &:hover
      color b2c-orange
.rt-tag-n-active
  border 1px solid b2c-orange



.rt-tag-n--purple
  @media(hover: hover)
    &:hover
      color b2c-purple
  &.rt-tag-n-active
    border 1px solid b2c-purple
