.{newAppName}-tariff-card
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.5)
  overflow: visible
  padding: 20px
  background-color: #fff
  .{newAppName}-dark-theme &
    background-color: main-color
    color b2c-white09


.tariff-cards-background
  background-color: #E3E8EC

.tariff-cards-test
  .rt-price__value
    font-size: 50px
    font-weight: 500

.{newAppName}-tariff-card-icons
  @media (min-width: desktop-lower-limit)
    height: 61px

.{newAppName}-tariff-item__icon-stroke
  stroke main-color
  .{newAppName}-tariff-item--is-disabled &
    stroke b2c-cool-grey!important

.{newAppName}-tariff-item__icon-fill
  fill main-color
  .{newAppName}-tariff-item--is-disabled &
    fill b2c-cool-grey!important

.{newAppName}-tariff-item--is-disabled
  color b2c-cool-grey

.{newAppName}-tariff-item__icon-wrapper
  text-align: center
  width: 40px

.{newAppName}-tariff-item__icon
  min-width: 42px
