.text-image-block
  &__image
    object-fit cover
    width 100%
    &-wrapper
      size(100%, calc(((100vw - 280px) / 2) * 2 / 3))
      overflow hidden
      max-height 440px
      @media(min-width laptop-lower-limit)
        padding-left 50px
      @media (max-width tablet-upper-limit)
        size(100%, calc((100vw - 80px) / 3 * 2))
        max-height none
  &__content
    min-height 100%
  &__inner
    @media (max-width tablet-upper-limit)
      flex-direction column-reverse
    &--reversed
      @media(min-width laptop-lower-limit)
        flex-direction row-reverse
        .text-image-block__image-wrapper
          padding-left 0
          padding-right 50px
  &__video-wrapper
    .{newAppName}-youtube
      box-shadow none
      border-radius 8px
      overflow hidden
      &--is-fullscreen
        border-radius 0
  &--is-nested
    .text-image-block__image-wrapper
      height 0
      padding 0 0 calc(100% * 2 / 3) 0
      position relative
      @media (max-width tablet-upper-limit)
        padding-top 32px
    .text-image-block__image
      position absolute
      size(100%)
      top 0
      left 0
      right 0
      bottom 0
      object-fit cover
      @media (max-width tablet-upper-limit)
        top 32px
        height calc(100% - 32px)
