.rt-card-image
  flex-direction column
  background-color transparent

  &__content
    flex 1
    background-color white
    padding-top vertical-space

  .rt-card__body
    padding-bottom vertical-space

  &__figure
    flex 0
    display: block
    width 100%
    height 364px
    min-height 364px
    background-position center
    background-size cover

  &-list
    border-top 1px solid card-list-border
    border-bottom 1px solid card-list-border
    padding-top vertical-space * .5
    padding-bottom vertical-space * .5
    padding-left horizontal-space
    padding-right horizontal-space

    &--without-top-border
      border-top-width 0

    & + &
      margin-top -1px

    &--has-icon
      display flex
      flex-direction row
      align-items center

      &__icon
        width 55px + horizontal-space * .5
        box-sizing border-box
        padding-right horizontal-space * .5

.rt-card-image-v2
  box-shadow none
  color: inherit

  .rt-card__body
    padding-left: 0
    padding-right: 0
  @media (hover: hover)
    &:hover
      box-shadow none
      .rt-card-image__arrow
        opacity: 1
        pointer-events auto
      .rt-card-image__label
        color b2c-orange
      .rt-card-image__figure
        transform scale(1.2)

  .rt-card-image__figure-wrapper
    border-radius 8px
    display: block

    overflow: hidden
    height: 354px
    .rt-card-image__figure
      height: 354px
      min-height 354px
      max-height 354px

    @media (min-width laptop-upper-limit)
      height: 400px
      .rt-card-image__figure
        height: 400px
        min-height 400px
        max-height 400px
    @media (max-width: tablet-upper-limit)
      height: 312px
      .rt-card-image__figure
        height: 312px
        min-height 312px
        max-height 312px
    @media (max-width: mobile-upper-limit)
      height: 264px
      .rt-card-image__figure
        height: 264px
        min-height 264px
        max-height 264px

  &.rt-card-image-type--small
    .rt-card-image__figure-wrapper

      height: 232px
      .rt-card-image__figure
        height: 232px
        min-height 232px
        max-height 232px
      @media (min-width laptop-upper-limit)
        height: 264px
        .rt-card-image__figure
          height: 264px
          min-height 264px
          max-height 264px

      @media (max-width: mobile-upper-limit)
        height: 200px
        .rt-card-image__figure
          min-height 200px
          max-height 200px

  .rt-card-image__figure
    height: 100%
    width: 100%
    left: 0
    right: 0
    position: relative
    transform scale(1)
    transition-duration 0.25s
    transition-property width, height, transform
    transition-timing-function ease-in-out


  .rt-card-image__content
    padding-top: 24px
    background transparent
    display flex
    flex-direction: column
  .rt-card-image__label
    transition-duration 0.25s
    transition-property color
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  .rt-card-image__body
    flex: 1
    transition-duration 0.25s
    transition-property color
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    color main-color05
    .rt-dark-theme &
      color b2c-white05
  .rt-card-image__arrow
    display: flex
    vertical-align middle
    opacity: 0
    pointer-events none
    transition-duration 0.25s
    transition-property opacity
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    .rt-sys-icon
      fill main-color05
    color main-color05
    .rt-dark-theme &
      color b2c-white05
      .rt-sys-icon
        fill b2c-white05
